/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
}
#register {
    text-align: center;
}
a{
    text-decoration: none;
    color: #0099cc;
    transition: color 0.3s;
}
a:hover{
    text-decoration: underline;

}
a:focus{
    color: blue;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0099cc;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #0099cc;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0077aa;
}
